* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: orange;
    --main-html-color: rgb(220, 220, 220);
    --main-body-color: white;
}

html {
    background-color: var(--main-html-color);
}

body {
    background-color: var(--main-body-color);
}